footer {
  background-color: black;
  margin-bottom: 0;
  p {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 0;
    a {
  color: #f755f7;
      text-decoration: none;
    }
  }
}
